*.obj
*.pdb
.vs/*
*.exe
*.ilk
*.lib
test/*
node_modules/
build-CXFLGUI-Desktop_Qt_6_6_0_MinGW_64_bit-Debug/
*/bin/*
*/obj/*
SceneGenerator/LipsyncingTest/bin/SymDepend.cache
SceneGenerator/LipsyncingTest/DOMDocument.xml
SceneGenerator/LipsyncingTest/LIBRARY/Wright►Head.xml
SceneGenerator/LipsyncingTest/LIBRARY/Wright►Mouth.xml
SceneGenerator/LipsyncingTest/LIBRARY/Wright►Poses.xml
SceneGenerator/LipsyncingTest/LIBRARY/Wright►ScaledPoses.xml
SceneGenerator/LipsyncingTest/LipsyncingTest.xfl
SceneGenerator/LipsyncingTest/META-INF/metadata.xml
SceneGenerator/LipsyncingTest/MobileSettings.xml
SceneGenerator/LipsyncingTest/PublishSettings.xml
SceneGenerator/LipsyncingTest/bin/M 1 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 10 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 11 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 12 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 13 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 14 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 15 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 16 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 17 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 18 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 19 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 2 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 20 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 21 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 22 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 23 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 24 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 25 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 26 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 27 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 28 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 29 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 3 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 30 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 31 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 32 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 33 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 34 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 35 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 36 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 37 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 4 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 5 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 6 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 7 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 8 1705946947.dat
SceneGenerator/LipsyncingTest/bin/M 9 1705946947.dat
SceneGenerator/LipsyncingTest/LIBRARY/OTHER ASSETS/resources_defaultFadesTypes/FadeTween005.xml
SceneGenerator/LipsyncingTest/LIBRARY/OTHER ASSETS/resources_defaultFadesTypes/FadeTween006.xml
SceneGenerator/LipsyncingTest/LIBRARY/OTHER ASSETS/resources_defaultFadesTypes/FadeTween007.xml
SceneGenerator/LipsyncingTest/LIBRARY/OTHER ASSETS/Standard_Flash.xml
