.container {
  width: 1280px; /* Specify the width */
  height: 720px; /* Specify the height */
  border: 1px solid #ccc; /* Border for the outer container */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Hide overflow content */
  position: relative; /* Make the container a positioning context */
}

.left-pane {
  position: absolute; /* Position absolutely inside the container */
  top: 0;
  left: 0;
  width: 100%; /* Adjust the width as needed */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right-pane {
  position: absolute; /* Position absolutely inside the container */
  top: 0;
  right: 0;
  width: 100%; /* Adjust the width as needed */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.quadrant {
  border: 1px solid #ccc;
  padding: 10px;
  height: 100%; /* Half the height of the container */
  box-sizing: border-box; /* Include border in height calculation */
}

.quadrant1,
.quadrant2 {
  height: 75px;
}

.quadrant4 {
  overflow-x: auto; /* Horizontal scrollbar */
  overflow-y: hidden; /* Hide vertical scrollbar initially */
}

.scrollable-content {
  /* Add content and style as needed */
}

/* React Pane Resizer */

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
 
.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
 
.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}
 
.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
 
.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}
 
.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

/* Timeline */

.timeline {
  display: flex;
  flex-direction: row;
  border: 0.5px solid black;
}

.frame {
  width: 20px;
  height: 35px;
  background-color: rgb(124, 124, 124);
}

.frame:hover {
  background-color: rgb(0, 120, 215); /* Change to the desired tint color */
  transition: 0.2s
}

.keyframe {
  position: relative;
  border-left: 0.5px solid black;
}

.keyframe::before {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: black;
  bottom: 2px;
  left: 2px;
  border-radius: 50%;
}

.blank-keyframe {
  position: relative;
  background-color: rgb(73, 73, 73);
  border-left: 0.5px solid black;
}

.blank-keyframe::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: transparent;
  border: 1px solid black;
  bottom: 2px;
  left: 2px;
  border-radius: 50%;
}

.empty-frame {
  background-color: rgb(73, 73, 73);
}

.void1-frame {
  background-color: rgb(26, 26, 26);
  border-right: 0.5px solid black;
}

.void2-frame {
  background-color: rgb(38, 38, 38);
  border-right: 0.5px solid black;
}